@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn-danger btn" asp-action="Index" asp-controller="Projects">Go to Management Site</a>
</div>
