
<div class="modal fade" id="blockcase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white bg-info" id="staticBackdropLabel"> Cancel Request</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* --------------- Main Form --------------------------  *@

            <form method="post" asp-action="BlockCase" asp-controller="Admin" id="">
                <input type="hidden" name="requestid" id="RequestID_ModelBlockCase" />
                <div class="modal-body">
                    <p><small>Patient Name:</small><span id="RequestID_PatientNameBlockCase" class="text-info"></span> </p>
                    <textarea name="Notes" class="form-control" id="exampleFormControlTextarea1" rows="4"
                              placeholder="Provide Additional Notes"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
