@{
    ViewData["Title"] = "Home Page";
}
@model HaloDocDataAccess.DataModels.AspNetUser;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Platform Login Page</title>
    <link rel="stylesheet" href="~/css/mainLogin.css" />
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="~/images/Login-doc-image.jpg"
                         alt="Login image"
                         class="w-100 vh-100"
                         style="object-fit: cover; object-position: left" />
                </div>

                <!-- right side  -->
                <div class="col-sm-6 align-items-center d-flex flex-column right-side">
                    <partial name="_PartialLoader" />

                    <img src="~/images/HaloDoc-Logo.png"
                         alt=""
                         class="logo-img-platformLogin" />
                    <h2>Log into your Account</h2>
                    <form class="form-group form-platformLogin" method="post" asp-action="IndexPlatformLogin" asp-controller="Admin">
                        <div class="text-danger">@ViewData["error"]</div>
                        <input type="email" value="admin@gmail.com"
                               class="form-group form-control mt-4"
                               placeholder="Enter Email"
                               asp-for="Email"
                               required />
                        <span asp-validation-for="Email" class="text-danger validate col-12"></span>

                        <input type="password" value="admin"
                               class="form-control form-group mt-4"
                               asp-for="PasswordHash"
                               placeholder="Password" />
                        <span asp-validation-for="PasswordHash" class="text-danger validate col-12"></span>

                        <button type="submit" class="form-group btn btn-primary mt-4 loginbtn" onclick="displayBusyIndicator()">
                            Log in
                        </button>
                    </form>
                    <a asp-controller="Admin" asp-action="IndexForgotPass" class="fpasslink mt-4">
                        Forgot Password?
                    </a>
                    <footer class="bottom">
                        <a href="" class="link1">Terms and Conditions</a>
                        <a href="">Privacy</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="~/js/validation.js"></script>
</html>

