﻿
@model HaloDocDataAccess.ViewModels.sendAgreement;
<div class="modal fade" id="sendAgreementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white bg-info" id="staticBackdropLabel">Send Agreement</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* --------------- Main Form --------------------------  *@
            <form class="">
                <input asp-for="ReqId" id="SendAgreement_Id" hidden />
                <div class="modal-body ">
                    <p><small>To Send Agreement please make sure you are uploading the correct contact information below for the responsible party</small> </p>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input class="form-control" id="SendAgreement_phone"  asp-for="PhoneNumber" id="phone" disabled/>
                        </div>
                        <div class="col-lg-12 mt-4">
                            <input class="form-control" id="SendAgreement_email" type="email" asp-for="Email" required /> 
                            <span asp-validation-for="Email" class="text-danger validate col-6"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" id="send-agreement-submit-btn">Submit</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@* --------------- Script and Ajax for Assign Case nbn --------------------------  *@
<script>
    $('#send-agreement-submit-btn').click(function () {
        var phoneNumber = $("#SendAgreement_phone").val();
        var email = $("#SendAgreement_email").val();
        var reqId = $("#SendAgreement_Id").val();
        console.log(reqId);
        $.ajax({
            url: "/Admin/SendAgreement",
            data: {
                ReqId: reqId,
                PhoneNumber: phoneNumber,
                Email: email,
            },
            type: 'POST',
            success: function (result) {
                $('#display').html(result);
                $('#sendAgreementModal').modal('show');
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request abcd  ')
            },
        });
    });
    //phone validation
    document.getElementById('phone').addEventListener('input', function (e) {
        var x = e.target.value.replace(/\D/g, ''); 
        e.target.value = x;

        var pattern = /^\d{10}$/;
        if (pattern.test(x)) {
            console.log('Phone number is valid');
            e.target.setCustomValidity(''); 
        } else {
            console.log('Phone number is not valid');
            e.target.setCustomValidity('Invalid phone number');
        }
    });
</script>
