﻿@{
    Layout = "_AdminLayout";
}
@model HaloDocDataAccess.ViewModels.ViewCaseData
@using static HaloDocDataAccess.ViewModels.Constant




<form class="container mt-5 viewcasecard" method="post">
    <div class="d-flex justify-content-between mb-4">
        <div class="d-flex justify-content-evenly">
            <h3 class="">New Request</h3>
            <button class=" btn btn-success rounded-pill mx-2">Patient</button>
        </div>
        <button onclick="backbtn()" class="btn btn-outline-info shadow-none night-mode-btn">
            <span><a class="link" asp-controller="Admin" asp-action="Index">Back</a></span>
        </button>
    </div>
    <div class="form-group row  p-3 card-form">
        <h4 class="mt-2 mb-6">Patient Information</h4>
        <input type="hidden" asp-for="RequestID" />
        <h6 class="mt-2 mb-6">Confirmation Number</h6>
        <h6 class="text-info">MDQ12KI8HT6</h6>
        <div class="col-w-100 col-sm-12">
            <textarea asp-for="PatientNotes" class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      placeholder="Enter Brief Details of Symptoms"  required disabled>
            </textarea>
        </div>

        <div class="col-sm-6">
            <input asp-for="FirstName" class="form-control col-md mt-4"
                   type="text"
                   placeholder="First Name" required disabled />
        </div>
        <div class="col-sm-6">
            <input asp-for="LastName" class="form-control form-control-md col-md col-sm mt-4"
                   type="text"
                   placeholder="Last Name" required disabled />
        </div>

        <div class="col-sm-6">
            <input asp-for="Dob" type="date"
                   class="form-control form-control-md col-md mt-4"
                   placeholder="Select Date" required disabled />
        </div>
        <div class="col-sm-5">
            <input asp-for="PhoneNumber" id="phone1"
                   type="tel"
                   class="form-control form-control-md col-md mt-4 iti"  />
        </div>
        <div class="col-sm-3 mt-4 small-btns">
            <button type="button" class="btn btn-outline-info ">
                <i class="fa fa-phone" aria-hidden="true"></i>

            </button>
        </div>
        <div class="col-sm-6">
            <input asp-for="Email" class="form-control form-control-md col-md mt-4"
                   type="email" id="email"
                   placeholder="Enter Email" required disabled />
        </div>
        <div class="col-sm-3 mt-4 small-btns">
            <a id="edit" onclick="enable_disable()" class="btn btn-info text-white rounded p-2">Edit</a>
            <input type="submit" id="submit" class="btn bg-info text-white rounded p-2" value="Save" style="display:none;">
            </div>        
        <h4 class="mt-4 mb-6">Location Information</h4>
        <div class="col-sm-6">
            <input asp-for="Region" class="form-control form-control-md col-md mt-4"
                   type="text"
                   placeholder="Region" disabled />
        </div>
        <div class="col-sm-5">
            <input asp-for="Address" class="form-control form-control-md col-md mt-4"
                   type="text"
                   placeholder="Business/Property Name" disabled />
        </div>
        <div class="col-sm-3 mt-4 small-btns">
            <button type="button" class="btn btn-outline-info">
                <i class="fa fa-map-marker test-info mx-1" aria-hidden="true"></i>

            </button>
        </div>
        <div class="col-sm-6">
            <input asp-for="Room" class="form-control form-control-md col-md mt-4"
                   type="text"
                   placeholder="Room #"  />
        </div>
       <div class="d-flex justify-content-end">
            <a class="btn btn-info text-white rounded me-2 " data-bs-toggle="modal" data-bs-target="#assigncase">Assign</a>
            <a class="btn btn-info text-white rounded me-1" asp-controller="Admin" asp-action="ViewNotes">View Notes</a>
            <a class="btn btn-danger text-white rounded">Cancel</a>
       </div> 
    </div>
</form>
@* <---Modal--> *@
<div class="modal fade" id="assigncase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog p-2 modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Assign Case</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <p>Patient Name</p>
                <select class="form-select mb-2" id="floatingSelectGrid">
                    <option selected class="text-secondary">All Regions</option>
                    <option value="1">Maryland</option>
                    <option value="2">New York</option>
                    <option value="3">Virginia</option>
                </select>
                <textarea class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="3"
                          placeholder="Enter Brief Details of Symptoms" required>
                                </textarea>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Confirm</button>

                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                </div>



            </div>
        </div>
    </div>
</div>
<script>
    function enable_disable() {
        $("#email").removeAttr('disabled');
        $("#phone1").removeAttr('disabled');
        $("#submit").css("display", "block");
        $("#edit").css("display", "none");
    }
</script>
@* <script>
    $(document).ready(function () {
        $("input").prop("readonly", true);
        $("textarea").prop("readonly", true);
        $("input").css("background-color", "#e9ecef");
        $("textarea").css("background-color", "#e9ecef");
        $("#submit").css("display", "none");
    });
</script>
<script>
    function enable_disable() {
        $("input").prop("readonly", false);
        $("#submit").prop("readonly", false);
        $("#submit").css("display", "block");
        $("#edit").css("display", "none");
        $("input").css("background-color", "transparent");
        $("textarea").css("background-color", "transparent");
    }
</script> *@