<link rel="stylesheet" href="~/css/patientSubmitReq.css" />

<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <a asp-action="PatientSite" asp-controller="Home" class="text-decoration-none  pt1">
        <div class="sectionLinksSubdiv pt text-center text-black">
            Patient
        </div>
    </a>

    <a asp-action="IndexPlatformLogin" asp-controller="Admin" class="text-decoration-none  pt1">
        <div class="sectionLinksSubdiv text-center fam text-black">
            Admin/Provider Site
        </div>
    </a>
</div>



