@{
    Layout = "_AdminLayout";

}
@model HaloDocDataAccess.ViewModels.AccessModel;
@using static HaloDocDataAccess.ViewModels.Constant;
<div class="container-fluid d-flex justify-content-center row ">
<div class="col-8">
    <div class="d-flex justify-content-between mt-5">
        <h4>Create Role</h4>
        <div>
            <a class="btn border border-info text-info shadow-none" asp-action="Index" asp-controller="Access">
                <i class="fa fa-angle-left pe-1 text-info "> </i> Back
            </a>
        </div>
    </div>
    <div class="shadow p-3 bg-white mt-4">
        <div class="d-flex ">
            <h5><strong>Details</strong></h5>
        </div>
            <form class="mt-3" asp-action="SaveEditRole" asp-controller="Access" id="formsub" method="post">
            <div class="row">
                <div class="mb-3 col-lg-6 p-1 form-floating">
                    <input  type="text" class="form-control" placeholder="Status" asp-for="Role" required />
                    <label for="Status" class="form-label">Role Name </label>
                </div>
                <div class="mb-3 col-lg-6 p-1  form-floating">
                    <input id="menus" asp-for="files" type="hidden" />
                    <select class="form-select" placeholder="Account" id="AccountType" onchange="rolemenu()" asp-for="AccountType">
                        <option> Select Account</option>
                        @foreach (var item in Enum.GetNames(typeof(AccountType)))
                        {
                            <option value="@item"> @item </option>
                        }
                    </select>
                    <label for="Account" class="form-label">Account Type</label>
                </div>
            </div>
            <div class="result"></div>
            <div class="d-flex justify-content-end">
                @* save btn  *@
                <div class="search m-2 shadow-none">
                        <button type="submit" class="btn p-2 py-2 btn-info text-decoration-none text-white" onclick="saveedit()">
                                Save
                        </button>
                </div>
                @* cancel btn *@
                <div class="search m-2 shadow-none">
                    <button class="btn p-2 py-2 border-info text-info bg-white " id="save" onclick="changeNoti()" type="reset">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    @* checkbox using role menu table *@
    function rolemenu() {
        var acc = $("#AccountType").val();
        console.log(acc);
        $.ajax({
            type: "POST",
            url: '@Url.Action("RolebyAccountType", "Access")?Account=' + acc,
            cache: false,
            success: function (response) {
                console.log(response);
                var select = "";
                for (var i = 0; i < response.length; i++) {
                    select += '<div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" value="' + response[i].menuId + '"><label class="form-check-label">' + response[i].name + '</label></div>'
                }
                $(".result").html(select);
            },
            error: function () {
                alert("Error");
            }
        });
    }
    @*form SubmitEvent to save roles*@
        function saveedit() {
            var files = [];
            $('input[type="checkbox"]:checked').each(function () {
                files.push(this.value);
            });
            $("#menus").val(files.join(','));
            console.log(files);
            $("#formsub").submit();
        }
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('backButton')) {
                history.back();
            }
        });
</script>
